.container-test {
  margin: 80px;
  padding: 10px;
}
.wrapper-test {
  padding: 20px;
}
.title-test {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.title-test h2 {
  text-transform: capitalize;
}
.rating-test {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 10px;
  text-transform: capitalize;
}
.btn-rating-test {
  gap: 20px;
}
.btn-rating-test button {
  padding: 2px 15px;
  background-color: black;
  color: white;
  font-size: 15px;
}
.btn-rating-test i {
  color: white;
}
.content-test {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}
.card-test {
  background-color: white;
  padding: 10px;
  width: 300px;
  height: 420px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}
.card-title-test img {
  width: 300px;
  height: 350px;
  object-fit: cover;
}
.card-pengisi {
  display: flex;
  justify-content: end;
  gap: 5px;
  align-items: center;
}
@media only screen and (max-width: 1050px) {
  .content-test {
    grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 750px) {
  .content-test {
    grid-template-columns: auto;
  }
}
@media only screen and (max-width: 500px) {
  .card-title-test img {
    width: 250px;
    height: 300px;
  }
  .card-test {
    width: 250px;
    height: 380px;
    padding: 5px;
  }
  .title-test {
    padding: 20px;
  }
  .title-test h2 {
    font-size: 20px;
  }
  .card-body-test {
    padding: 10px;
  }
  .card-body-test p {
    font-size: 15px;
  }
  .wrapper-test {
    padding: 10px;
  }
  .container-test {
    margin: 70px;
    padding: 8px;
  }
}
@media only screen and (max-width: 380px) {
  .card-title-test img {
    width: 250px;
    height: 300px;
  }
  .card-test {
    width: 250px;
    height: 380px;
    padding: 5px;
  }
  .title-test {
    padding: 10px;
  }
  .title-test h2 {
    font-size: 15px;
  }
  .card-body-test {
    padding: 10px;
  }
  .card-body-test p {
    font-size: 15px;
  }
  .wrapper-test {
    padding: 7px;
  }
  .container-test {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 8px;
  }
}
