<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="fontawesome/css/all.css" />
    <link rel="stylesheet" href="/aset/css/style.css" />
    <link rel="stylesheet" href="/aset/css/style-project-detail.css" />
    <link rel="icon" href="/images/dw.png" />
    <title>Detail Project</title>
  </head>
  <body>
    <!-- navbar -->
    <header>
      <div class="navi">
        <ul>
          <li>
            <a href="index"><img src="/images/dw.png" class="logoDW" alt="" /></a>
          </li>
          <li class="collapse-item"><a href="index">Home</a></li>
          <li class="collapse-item"><a href="project">Add Project</a></li>
          <li class="collapse-item"><a href="testimonial">Testimonials</a></li>
        </ul>
      </div>
      <a class="bton collapse-item" href="contact"><button>Contact Me</button> </a>
      <div class="navi-right" id="hamburger-btn">
        <button onclick="openHamburger()">
          <i class="fa-solid fa-bars fa-2x"></i>
        </button>
      </div>
    </header>
    <div class="hamburger-container" id="hamburger-container">
      <a href="index" class="nav-active">Home</a>
      <a href="project">Add Project</a>
      <a href="contact">Contact Me</a>
      <a href="testimonial">Testimonials</a>
    </div>
    <!-- /navbar -->

    <!-- conten detail project -->
    <div class="wrapper-container">
      <div class="container-title">
        <h3>Dumbways Web App</h3>
      </div>
      <div class="container-pertama">
        <div class="wrapper-content">
          <div class="content-img">
            <img src="/images/code.jpg" alt="" />
          </div>
          <div class="content-detail">
            <div class="duration">
              <div class="title-duration">
                <p>Duration</p>
              </div>
              <div class="content-duration">
                <div class="content-duration-date">
                  <div>
                    <i class="fa-solid fa-calendar-days fa-2x"></i>
                  </div>
                  <p>06 Juni2023 - Agustus 2023</p>
                </div>
                <div class="content-duration-clock">
                  <div>
                    <i class="fa-solid fa-clock fa-2x"></i>
                  </div>
                  <p>1 Tahun</p>
                </div>
              </div>
            </div>
            <div class="technologies">
              <div class="title-techo">
                <p>Technologies</p>
              </div>
              <div class="content-techo">
                <div class="techno-left">
                  <div class="framework">
                    <div>
                      <i class="fa-brands fa-node fa-2x" id="nodejs"></i>
                    </div>
                    <p>Node Js</p>
                  </div>
                  <div class="framework">
                    <div>
                      <i class="fa-brands fa-react fa-2x" id="reactjs"></i>
                    </div>
                    <p>React Js</p>
                  </div>
                </div>
                <div class="techno-right">
                  <div class="framework">
                    <div>
                      <i class="fa-solid fa-n fa-2x" id="nextjs"></i>
                    </div>
                    <p>Next Js</p>
                  </div>
                  <div class="framework">
                    <div>
                      <i class="fa-solid fa-t fa-2x" id="typoscript"></i>
                    </div>
                    <p>Typescript</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-kedua">
        <div class="content-description">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam explicabo quidem nobis asperiores animi ab expedita odit, accusamus ullam eaque aperiam at. Fugiat sit illum aspernatur ducimus, pariatur repellendus voluptatem! Lorem
            ipsum dolor sit amet consectetur adipisicing elit. Qui quasi illum dolorem quam, enim quas quibusdam maxime saepe asperiores provident sequi nisi! Fugit quod sapiente perferendis, nisi atque repudiandae itaque. Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Adipisci culpa, illo repellat quos fuga facere velit ipsam ullam cum laudantium nihil nemo modi perspiciatis magni vitae quis similique dolorem provident.
          </p>
        </div>
      </div>
    </div>
    <script src="/js/nav.js"></script>
  </body>
</html>
