<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="fontawesome/css/all.css" />
    <link rel="stylesheet" href="/aset/css/style.css" />
    <link rel="stylesheet" href="/aset/css/style-project.css" />
    <link rel="icon" href="/images/dw.png" />

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />

    <title>Task Day10</title>
  </head>
  <body>
    <!-- navbar -->
    <header>
      <div class="navi">
        <ul>
          <li>
            <a href="index "><img src="/aset/images/dw.png" class="logoDW" alt="" /></a>
          </li>
          <li class="collapse-item"><a href="home ">Home</a></li>
          <li class="collapse-item"><a href="]project ">Add Project</a></li>
          <li class="collapse-item"><a href="testimonial ">Testimonials</a></li>
        </ul>
      </div>
      <a class="bton collapse-item" href="contact "><button>Contact Me</button> </a>
      <div class="navi-right" id="hamburger-btn">
        <button onclick="openHamburger()">
          <i class="fa-solid fa-bars fa-2x"></i>
        </button>
      </div>
    </header>
    <div class="hamburger-container" id="hamburger-container">
      <a href="index ">Home</a>
      <a href="project " class="nav-active">Add Project</a>
      <a href="contact ">Contact Me</a>
      <a href="testimonial ">Testimonials</a>
    </div>
    <!-- /navbar -->

    <!-- onsubmit="addProject(event)" -->
    <div class="container-form">
      <form action="/project-add" method="post">
        <h3 class="text-center fw-bold">ADD MY PROJECT</h3>
        <div class="mb-3">
          <label class="form-label">Project Name</label>
          <input type="text" class="form-control" id="input-project-name" name="input-project-name" />
        </div>
        <div class="row g-3">
          <div class="col">
            <label class="form-label">Start Date</label>
            <input type="date" class="form-control" id="input-start-date" name="input-start-date" />
          </div>
          <div class="col">
            <label class="form-label">End Date</label>
            <input type="date" class="form-control" id="input-end-date" name="input-end-date" />
          </div>
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea class="form-control" id="input-description" rows="3" name="input-description"></textarea>
          </div>
          <div class="wrapper-techno">
            <label for="">Technologies</label>
            <div class="techno">
              <div class="techno-left">
                <div class="framework">
                  <input type="checkbox" id="input-nodejs" class="form-check-input input-multichecked" name="input-nodejs" />
                  <label class="form-check-label" for="input-nodejs">Node Js</label>
                </div>
                <div class="framework">
                  <input type="checkbox" id="input-reactjs" class="form-check-input input-multichecked" name="input-reactjs" />
                  <label class="form-check-label" for="input-reactjs">React Js</label>
                </div>
              </div>
              <div class="techno-right">
                <div class="framework">
                  <input type="checkbox" id="input-nextjs" class="form-check-input input-multichecked" name="input-nextjs" />
                  <label class="form-check-label" for="input-nextjs">Next Js</label>
                </div>
                <div class="framework">
                  <input type="checkbox" id="input-typoscript" class="form-check-input input-multichecked" name="input-typoscript" />
                  <label class="form-check-label" for="input-typoscript">TypoScript</label>
                </div>
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="formFile" class="form-label">Upload Image</label>
            <input class="form-control" type="file" id="input-blog-image"">
          </div>
          <div class="btn-submit">
            <button type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>

    <!-- list project -->
    <div class="wrapper-list-project">
      <div class="list-project">
        <h2>my project</h2>
        <div id="contents-project" class="wrapper-list">
          <!-- dynamic -->
          <!--dynamic content would be here -->
        </div>
      </div>
    </div>
    <!-- /list project -->

    <script src="/aset/js/project.js"></script>
    <script src="/aset/js/nav.js"></script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</html>
