<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/aset/fontawesome/css/all.css" />
    <link rel="stylesheet" href="/aset/css/style.css" />
    <link rel="stylesheet" href="/aset/css/style-project-detail.css" />
    <link rel="stylesheet" href="/aset/css/style-nav.css" />
    <link rel="icon" href="/aset/images/dw.png" />
    <title>{{.dp.ProjectName}}</title>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  </head>
  <body>
    <!-- navbar -->
    <header>
      <div class="navi">
        <ul>
          <li>
            <a href="/"><img src="/aset/images/dw.png" class="logoDW" alt="" /></a>
          </li>
          <li class="collapse-item"><a href="/">Home</a></li>
          <li class="collapse-item">
            <a href="listproject">Project</a>
          </li>
          <li class="collapse-item"><a href="testimonial">Testimonials</a></li>
        </ul>
      </div>
      <div class="navi-right" id="hamburger-btn">
        <button onclick="openHamburger()">
          <i class="fa-solid fa-bars fa-2x"></i>
        </button>
      </div>
    </header>
    <div class="hamburger-container" id="hamburger-container">
      <a href="/" class="nav-active">Home</a>
      <a href="form-project">Add Project</a>
      <a href="testimonial">Testimonials</a>
      <a href="form-register">Register</a>
      <a href="form-login">Login</a>
      <a href="contact">Contact Me</a>
    </div>
    <!-- /navbar -->

    <!-- conten detail project -->
    <div class="wrapper-container">
      <div class="container-title">
        <h3>{{.dp.ProjectName}}</h3>
      </div>
      <div class="container-pertama">
        <div class="wrapper-content">
          <div class="content-img">
            <img src="/uploads/{{$.dp.Image}}" alt="" />
          </div>
          <div class="content-detail">
            <div class="duration">
              <div class="title-duration">
                <p>Duration</p>
              </div>
              <div class="content-duration">
                <div class="content-duration-date">
                  <i class="fa-solid fa-calendar-days fa-2x"></i>
                  <p>{{.dp.StartDate}} - {{.dp.EndDate}}</p>
                </div>
                <div class="content-duration-clock">
                  <div>
                    <i class="fa-solid fa-clock fa-2x"></i>
                  </div>
                  <p>{{.dp.Duration}}</p>
                </div>
                <p>Author : {{.dp.Author}}</p>
              </div>
            </div>
            <div class="technologies">
              <div class="title-techo">
                <p>Technologies</p>
              </div>
              <div class="content-techo">
                <div class="techno-left">
                  <div class="framework">
                    {{if.dp.NodeJs}}
                    <i class="fa-brands fa-node fa-2x" id="nodejs"></i>
                    <p>Node Js</p>
                    {{end}}
                  </div>
                  <div class="framework">
                    {{if.dp.ReactJs}}
                    <i class="fa-brands fa-react fa-2x" id="reactjs"></i>
                    <p>React Js</p>
                    {{end}}
                  </div>
                </div>
                <div class="techno-right">
                  <div class="framework">
                    {{if.dp.NextJs}}
                    <i class="fa-brands fa-js fa-2x" id="nextjs"></i>
                    <p>Js</p>
                    {{end}}
                  </div>
                  <div class="framework">
                    {{if.dp.TypoScript}}
                    <i class="fa-brands fa-golang fa-2x" id="typoscript"></i>
                    <p>Golang</p>
                    {{end}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-kedua">
        <div class="content-description">
          <p>{{.dp.Description}}</p>
        </div>
      </div>
    </div>
    <script src="/aset//js/nav.js"></script>

    <!-- bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  </body>
</html>
