@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgray;
}
/* container-profil */
.container {
  background-color: white;
  margin: 90px;
  padding: 80px;
}
.conten {
  display: flex;
  gap: 50px;
}
.about {
  width: 500px;
}
.about p {
  text-align: justify;
  padding-bottom: 30px;
}
.contact button {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 6px 20px;
  border-radius: 20px;
}
.contact button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}
.btn-cv {
  text-decoration: none;
  color: black;
  padding: 6px 20px;
}
.sosmed ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}
.sosmed ul li {
  list-style-type: none;
}
i {
  color: black;
}
.card {
  width: 300px;
  box-shadow: 0px 5px 8px;
  border-radius: 10px;
  text-align: center;
}
.card img {
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title-card {
  padding-bottom: 20px;
}
/* /container-profil */

/* navbar */
header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
li img {
  width: 50px;
}
ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  /* padding atas bawah 10, kanan kiri 20 */
}
ul li a {
  text-decoration: none;
  color: black;
}
nav ul {
  display: flex;
  align-items: center;
  padding-left: 75px;
}
nav ul li a:hover {
  color: black;
  font-weight: bold;
}
header button {
  background-color: black;
  color: white;
  padding: 7px 10px;
  border: none;
  border-radius: 15px;
}
header button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}
.btn {
  margin-right: 95px;
}
/* /navbar */

/* contact-form */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px;
}
.contact-container h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  margin: 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
  width: 500px;
}
.form-container div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-container input,
div select {
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.221);
  padding: 10px;
}
.form-container textarea {
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.221);
  padding: 20px;
}
.form-container div label {
  font-size: medium;
  font-weight: bold;
}
.form-container button {
  margin-top: 20px;
  border-radius: 20px;
  width: fit-content;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  cursor: pointer;
}
.form-container button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}
.btn-position {
  display: flex;
  align-items: flex-end;
}
/* /contact-form */
