.wrapper-container {
  margin: 90px;
  justify-content: center;
}
.container-title {
  display: flex;
  justify-content: center;
  font-size: x-large;
}
.container-pertama {
  justify-content: center;
}
.wrapper-content {
  display: flex;
}
.content-img img {
  width: 450px;
}
.content-detail {
  margin-left: 50px;
}
.title-duration p {
  font-weight: bold;
}
.content-duration {
  padding: 10px;
}
.content-duration-date {
  display: flex;
  gap: 25px;
  margin: 10px;
}
.content-duration-date p {
  padding: 5px;
}
.content-duration-clock {
  display: flex;
  gap: 25px;
  margin: 10px;
}
.content-duration-clock p {
  padding: 5px;
}
.title-techo p {
  font-weight: bold;
}
.content-techo {
  padding: 10px;
  display: flex;
}
.framework {
  display: flex;
  padding: 10px;
}
.framework p {
  margin-left: 20px;
}

.container-kedua {
  margin: 10px;
  padding: 20px;
  text-align: justify;
}
/* responsive */
@media only screen and (min-width: 1001px) {
  .container-pertama {
    margin: 10px;
    padding: 20px;
  }
}
@media only screen and (max-width: 1000px) {
  .container-pertama {
    padding: 10px;
    margin: 10px;
  }
  .wrapper-content {
    flex-direction: column;
  }
  .content-img img {
    width: 500px;
  }
  .content-detail {
    margin-left: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .content-img img {
    width: 400px;
  }
  .content-techo {
    flex-direction: column;
  }
}
@media only screen and (min-width: 601px) {
  .content-techo {
    gap: 100px;
  }
}
