.container-form {
  margin-top: 90px;
  margin-bottom: 50px;
}
.container-project {
  font-weight: bold;
}
.container-project h2 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  margin: 20px;
}
form {
  margin: auto;
  display: flex;
  flex-direction: column;
  width: 70%;
}
form input {
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.221);
  padding: 10px;
}
form textarea {
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.221);
  padding: 30px;
}
.project-name {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.date {
  display: flex;
  padding: 10px;
}
.start-date {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.end-date {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.desc {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.wrapper-techno {
  padding: 10px;
}
.techno {
  display: flex;
}

.framework {
  padding: 10px;
}
.up-img {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.input-file {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.221);
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.input-file span {
  background-color: #e4e4e4;
  border: none;
  border-radius: 6px;
  padding: 10px;
}
.input-file i {
  font-size: x-large;
  margin: 10px;
}
.btn-submit {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
form button {
  margin-top: 20px;
  border-radius: 20px;
  width: fit-content;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  cursor: pointer;
}
#addProject button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}
/* list project */
.container {
  background-color: lightgray;
}
.wrapper-list-project {
  background-color: rgb(230, 230, 230);
  padding: 20px;
}
.wrapper-list-project h2 {
  /* text-align: center; */
  text-transform: uppercase;
  font-weight: bold;
  padding: 30px;
}
.wrapper-list {
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
}
.list1 {
  background-color: white;
  width: 300px;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 10px;
}
.project-img img {
  width: 280px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.project-content a {
  color: black;
  text-decoration: none;
}
.detail-project p {
  text-align: justify;
}
.framework i {
  padding: 5px;
}
.btn-group {
  display: flex;
}
.btn-group button {
  border-radius: 5px;
  width: fit-content;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 1px 48px;
  cursor: pointer;
}

.input-blog-image-group {
  width: 100%;
  font-size: 20px;
  font-weight: 400;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  background: white;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
  cursor: pointer;
}
.input-blog-image-group label p {
  font-size: 15px;
  background-color: rgb(230, 230, 230);
  padding: 10px;
}
.input-blog-image-group label {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* responsive */
@media only screen and (max-width: 600px) {
  .date {
    flex-direction: column;
  }
  .start-date {
    padding-bottom: 20px;
  }
  .techno {
    flex-direction: column;
  }
  .wrapper-list {
    grid-template-columns: auto auto;
    padding-left: 30px;
  }
  .list1 {
    width: 200px;
  }
  .project-img img {
    width: 200px;
  }
  .btn-group {
    flex-direction: column;
    gap: 5px;
  }
  .btn-group button {
    padding: 0px 20px;
  }
}
@media only screen and (min-width: 601px) {
  .date {
    gap: 70px;
  }
  .techno {
    gap: 100px;
  }
  .btn-group {
    justify-content: space-between;
  }
}
@media only screen and (max-width: 1050px) {
  .wrapper-list {
    grid-template-columns: auto auto;
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media only screen and (max-width: 700px) {
  .list1 {
    width: 200px;
  }
  .project-img img {
    width: 200px;
  }
  .btn-group {
    flex-direction: column;
    gap: 5px;
  }
  .btn-group button {
    padding: 0px 20px;
  }
}
@media only screen and (max-width: 900px) {
  .wrapper-list {
    grid-template-columns: auto auto;
    padding-left: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .wrapper-list {
    grid-template-columns: auto;
    padding-left: 15px;
  }
}
