header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}
li img {
  width: 50px;
}
ul li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  /* padding atas bawah 10, kanan kiri 20 */
}
ul li a {
  text-decoration: none;
  color: black;
}
.navi ul {
  display: flex;
  align-items: center;
}
.navi ul li a:hover {
  color: black;
  font-weight: bold;
}
.aaa {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aaa ul {
  display: flex;
  align-items: center;
}
.bton button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 15px;
}
.bton button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}
.bton {
  margin-right: 95px;
}
.navi-right {
  margin-right: 95px;
}
.navi-right button {
  background-color: white;
  border: none;
}
/* nav hamburger */
.nav-active {
  background-color: aqua;
}
.hamburger-container {
  top: 72px;
  width: 100%;
  position: fixed;
  font-size: 20px;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.hamburger-container a {
  width: 100%;
  color: black;
  text-align: center;
  border: 2px solid lightgray;
  text-decoration: none;
}
/* responsive */
@media only screen and (max-width: 600px) {
  .collapse-item {
    display: none;
  }
  #hamburger-btn {
    margin-right: 70px;
  }
}
@media only screen and (min-width: 601px) {
  #hamburger-btn {
    display: none;
  }
}
@media only screen and (min-width: 601px) {
  nav ul {
    padding-left: 75px;
  }
}
@media only screen and (max-width: 600px) {
  nav ul {
    padding-left: 30px;
  }
}
@media only screen and (max-width: 920px) {
  nav ul {
    padding-left: 30px;
  }
}
