@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: lightgray;
}
/* container-profil */
.container-me {
  background-color: white;
  margin: 90px;
  padding: 80px;
}
.conten-me {
  display: flex;
  gap: 50px;
}
.about {
  width: 500px;
  display: flex;
  flex-direction: column;
}
.about p {
  text-align: justify;
  padding-bottom: 30px;
}
.contact {
  display: flex;
  align-items: center;
}
.contact button {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 6px 20px;
  border-radius: 20px;
}
.contact button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}
.btn-cv {
  text-decoration: none;
  color: black;
  padding: 6px 20px;
}
.sosmed ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 20px;
}
.sosmed ul li {
  list-style-type: none;
}
i {
  color: black;
}
.wrapper-card {
  /* background-color: aqua; */
  /* width: 300px; */
  box-shadow: 0px 5px 8px;
  border-radius: 10px;
  text-align: center;
}
.card-me img {
  width: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.title-card {
  padding-bottom: 20px;
}
@media only screen and (max-width: 920px) {
  .container-me {
    margin-top: 90px;
    margin-left: 30px;
  }
  .conten-me {
    flex-direction: column;
  }
  .about {
    width: auto;
  }
  .wrapper-card {
    width: 300px;
  }
}
@media only screen and (max-width: 550px) {
  .container-me {
    padding: 20px;
  }
}
@media only screen and (max-width: 450px) {
  .container-me {
    padding: 20px;
  }
  .contact {
    flex-direction: column;
  }
  .sosmed ul {
    flex-direction: column;
  }
  .card-me img {
    width: 200px;
  }
  .wrapper-card {
    width: 200px;
  }
}
/* /container-profil */
/* contact-form */
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px;
}
.contact-container h3 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: x-large;
  margin: 20px;
}
.form-container {
  display: flex;
  flex-direction: column;
  /* width: 500px; */
}
.form-container div {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.form-container input,
div select {
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.221);
  padding: 10px;
}
.form-container textarea {
  border: none;
  border-radius: 6px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.221);
  padding: 20px;
}
.form-container div label {
  font-size: medium;
  font-weight: bold;
}
.form-container button {
  margin-top: 20px;
  border-radius: 20px;
  width: fit-content;
  background-color: black;
  color: white;
  font-weight: bold;
  padding: 6px 20px;
  cursor: pointer;
}
.form-container button:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
  transform: translateY(-1px);
}
.bton-position {
  display: flex;
  align-items: flex-end;
}
/* responsive */
@media only screen and (max-width: 500px) {
  .form-container {
    width: 300px;
  }
}
@media only screen and (min-width: 501px) {
  .form-container {
    width: 500px;
  }
}
/* /contact-form */
